#logo{
  height: 100px;
  width: 100px;
}

.navbar{
  float: right;
  clear: both;
}
li{
  float: right;
  clear: both;
}
header{
  background-color: gray;
}
nav{
  background-color: blue;
  display: grid;
  list-style: none;
  grid-template-columns: 25% 25% 25% 25%;
  line-height: 100px;

  }
